@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.card {
  margin-top: 10px;
}

.card img {
  width: 100%;

}
.card-body {
  font-family: 'Dancing Script', cursive;
}