@import url('https://fonts.googleapis.com/css?family=Cormorant+SC|Open+Sans&display=swap');

.card {
  width:22rem;
  margin-top: 10px;
  overflow: hidden;
}
.card{
}

.card-text {
  font-family: OpenSans;
  margin-left: 5px;
}
.card-header {
  display: flex;
  justify-content: space-between;
}
.card img {
  object-fit: cover;
  height: -webkit-fill-available;
  width: 100%;
}
.card-body {
  font-family: OpenSans;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px;
}
.tag {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #5798ff;
  margin-right: 5px;
  padding: 2px 4px;
  border-radius: 3px;
}
.tag a{
  font-family: OpenSans;
  color: #fff;
  text-decoration: none;
}
.tag:hover{
  transform:scale(1.1)
}

.userImage {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 210px;
  transition-duration: .2s;
}
.userImage:hover {
  transform: scale(1.1);
}
.cardFooter {
  display: flex;
  justify-content: space-between;
  padding-top: 5em;
}
.calIcon {
  color: cornflowerblue;
  margin-top: 3px;
}
.userCircleIcon {
  color: cornflowerblue;
}
.heartIcon{
  position: relative;
  right: 5px;
}
//.heartIcon:hover {
//  color:red;
//  transform:scale(1.2)
//}
.userCircleIcon:hover {
  position:relative;
  top:-5px
}