.vl {
  border-left: 2px solid black;
  height: 40px;
  position: relative;
}
.instaLogo {
  width: 150px;
}
.fixedNav {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-link {
  font-family: OpenSans;
}