.loading {
  position: relative;
  top: 240px;
}
.container {
  padding-top: 130px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.heightPlaceholder {

}